@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntlCond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntlCond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pixgame";
  src: url("../fonts/PixgamerRegular-OVD6A.woff") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "DotGothic16";
  src: url("../fonts/DotGothic16-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SUITE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "larken";
  src: url("../fonts/larken.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff");
}
