@keyframes opacityAni {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
@keyframes loader-sync {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntlCond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/SuisseIntlCond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pixgame";
  src: url("../fonts/PixgamerRegular-OVD6A.woff") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "DotGothic16";
  src: url("../fonts/DotGothic16-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "larken";
  src: url("../fonts/larken.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Suisse", sans-serif;
  letter-spacing: 0;
  background-color: #080014;
  color: #c9c3d1;
}

fieldset {
  border: 0;
}

input,
button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #ff00e5;
  color: #fff;
}

::selection {
  background: #ff00e5;
  color: #fff;
}

::-moz-selection {
  background: var(--accent-color);
  color: #fff;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
}

.inner {
  margin: 0 auto;
  padding: 0 3vw;
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ccc;
  color: #000;
  transform: translateY(-100%);
}
#skip a:focus, #skip a:active {
  transform: translateY(0);
}

.scroll_top {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
}

.scroll_hide {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 12px 0;
  background-color: #080014;
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 0.8vw 0;
  }
}
.header .inner {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.header .logo_wrap {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  gap: 4.5vw;
}
@media screen and (min-width: 1440px) {
  .header .logo_wrap {
    gap: 66.5px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo_wrap {
    gap: 30px;
  }
}
.header .logo {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .header .logo {
    font-size: 3vw;
  }
}
@media screen and (max-width: 991px) {
  .header .logo {
    font-size: 44px;
  }
}
.header .logo svg {
  width: 100%;
  height: 100%;
}
.header .location {
  color: #7c7585;
}
@media screen and (max-width: 991px) {
  .header .location {
    display: none;
  }
}
.header .location,
.header .nav_list,
.header .link_mail {
  font-size: 20px;
}
@media screen and (min-width: 1440px) {
  .header .location,
  .header .nav_list,
  .header .link_mail {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 991px) {
  .header .nav {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1rem 1.25rem 3rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    width: 100%;
    background-color: #080014;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.6s cubic-bezier(0.36, 0.3, 0, 1), visibility 0.6s cubic-bezier(0.36, 0.3, 0, 1), transform 0.6s cubic-bezier(0.36, 0.3, 0, 1);
    transform: translateX(100%);
  }
  .header .nav.is_active {
    transform: translateY(0);
  }
}
.header .nav .location {
  display: none;
}
@media screen and (max-width: 991px) {
  .header .nav .location {
    display: block;
    font-size: 16px;
  }
}
.header .nav .link_mail {
  display: none;
}
@media screen and (max-width: 991px) {
  .header .nav .link_mail {
    display: block;
    width: 100%;
    margin-top: 28px;
    margin-bottom: auto;
    padding: 12px 20px;
    width: 100%;
    max-width: 370px;
    text-align: center;
  }
}
.header .nav_list {
  display: flex;
  gap: 37px;
}
@media screen and (min-width: 1440px) {
  .header .nav_list {
    gap: 2.6vw;
  }
}
@media screen and (max-width: 991px) {
  .header .nav_list {
    margin-top: 17.6vh;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (max-width: 850px) {
  .header .nav_list {
    gap: 16px;
  }
}
.header .nav_item {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4vw;
  background-image: linear-gradient(#574d66, #574d66);
  color: #c9c3d1;
  background-repeat: no-repeat;
  background-size: 100% 0.06944vw;
  background-position: 0% 100%;
  transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), background-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0.1s;
}
@media screen and (max-width: 991px) {
  .header .nav_item {
    display: flex;
    height: 2.75rem;
    font-size: 44px;
    line-height: 1;
    letter-spacing: -0.44px;
    font-weight: 700;
  }
}
.header .nav_item:hover, .header .nav_item:focus {
  color: #ff00e5;
  background-size: 0% 0.06944vw;
  background-position: 100% 100%;
}
.header .link_mail {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.42vw 0.56vw;
  border: 0.14vw solid;
  color: #c9c3d1;
  transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), border-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header .link_mail:hover {
  color: #ff00e5;
  background-color: #571157;
  border-color: #571157;
}
@media screen and (max-width: 991px) {
  .header .link_mail {
    display: none;
  }
}
.header .header_actions {
  margin-left: auto;
}
.header .header_actions .link_mail {
  display: block;
}
@media screen and (max-width: 991px) {
  .header .header_actions .link_mail {
    display: none;
  }
}
.header .header_actions .btn_burger {
  display: none;
}
@media screen and (max-width: 991px) {
  .header .header_actions .btn_burger {
    display: block;
    position: relative;
    background-image: linear-gradient(#574d66, #574d66);
    color: #c9c3d1;
    background-repeat: no-repeat;
    background-size: 100% 0.06944vw;
    background-position: 0% 100%;
  }
}

.footer {
  position: relative;
  padding-top: 20px;
  font-family: "Neue Montreal", sans-serif;
}
.footer .headline_wrap {
  padding-bottom: 20vh;
}
@media screen and (max-width: 991px) {
  .footer .headline_wrap {
    font-size: 30px;
  }
}
.footer .headline_wrap .headline {
  color: #707273;
}
.footer .headline_wrap .headline,
.footer .headline_wrap .mail_link {
  font-size: 72px;
  font-weight: 100;
}
@media screen and (max-width: 991px) {
  .footer .headline_wrap .headline,
  .footer .headline_wrap .mail_link {
    font-size: 30px;
  }
}
.footer .headline_wrap .mail_link {
  color: #fff;
  position: relative;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer .headline_wrap .mail_link::before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 4px;
  background-color: #fff;
  z-index: -1;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer .headline_wrap .mail_link:hover {
  color: #000;
}
.footer .headline_wrap .mail_link:hover::before {
  background-color: #fff;
  height: 100%;
}
.footer .profile_wrap {
  display: flex;
  flex-wrap: wrap;
}
.footer .left_box {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .footer .left_box {
    width: 100%;
  }
}
.footer .left_box .title {
  font-size: 32px;
  color: #fff;
  line-height: 1.05;
}
@media screen and (max-width: 991px) {
  .footer .left_box .title {
    font-size: 22px;
  }
}
.footer .right_box {
  color: rgba(255, 255, 255, 0.8);
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
}
@media screen and (max-width: 991px) {
  .footer .right_box {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer .right_box .title {
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 991px) {
  .footer .right_box .title {
    font-size: 14px;
  }
}
.footer .right_box .profile_list {
  display: flex;
  flex-direction: column;
}
.footer .right_box .profile_item {
  margin: 5px 0px;
  padding: 4px 0px;
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
  letter-spacing: 0.2px;
  font-size: 18px;
}
.footer .right_box .profile_item::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
}
.footer .right_box .profile_item:hover {
  font-family: "DotGothic16", sans-serif;
  color: #ffff01;
  text-decoration: underline;
}
.footer .right_box .profile_item span {
  pointer-events: none;
}
.footer .right_box .profile_item .gothic {
  font-family: "DotGothic16" !important;
}
@media screen and (max-width: 991px) {
  .footer .right_box .profile_item {
    font-size: 14px;
  }
}
.footer .more_area {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}
.footer .log_more {
  padding: 10px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(145, 145, 145, 0.2);
  border-radius: 50px;
  color: #fff;
  line-height: 1;
  gap: 10px;
  margin-top: 24px;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
.footer .log_more:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 991px) {
  .footer .log_more {
    margin-bottom: 40px;
    font-size: 14px;
  }
}
.footer .more_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 200px;
  background-color: #000000;
}
.footer .text_marquee {
  font-family: "Pixgame", serif;
  font-size: 23vw;
  color: #252525;
  padding-top: 20vw;
}
.footer .to_right,
.footer .to_left {
  display: flex;
  gap: 5px;
  overflow: hidden;
}
.footer .to_right_text,
.footer .to_left_text {
  line-height: 0.7;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  margin-top: 5.5555555556vw;
}

.section_slogan {
  position: fixed;
  top: 80px;
  will-change: opacity;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.section_slogan .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 80px);
}
.section_slogan .title_slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_slogan .slogan_text {
  font-size: 17.5vw;
  text-transform: uppercase;
  letter-spacing: -0.7vw;
  line-height: 0.8;
}
.section_slogan .sub_slogan_text {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 8px 0 28px;
  max-width: 440px;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .section_slogan .sub_slogan_text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 991px) {
  .section_slogan .sub_slogan_text {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
  }
}
.section_slogan .icon_arrow {
  margin: auto;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  width: auto;
}
@media screen and (min-width: 1440px) {
  .section_slogan .icon_arrow {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .section_slogan .icon_arrow {
    margin-bottom: 1.5rem;
    height: 100px;
  }
}
.section_slogan .icon_arrow svg {
  display: flex;
  width: 12.5rem;
  height: 100%;
}

section {
  height: 100vh;
}

.projects_wrap {
  position: relative;
  width: 100%;
  height: 600vh;
  margin-top: 100vh;
}
.projects_wrap .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.projects_wrap .section_project {
  will-change: opacity, width;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: Neue Montreal, sans-serif;
}
.projects_wrap .section_project:not(.projects_wrap .section_project:first-of-type) {
  width: 80%;
  position: absolute;
  top: 0;
  transform: translateY(100%);
}
.projects_wrap .section_project .inner {
  height: 100%;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.projects_wrap .section_project .inner .text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
.projects_wrap .section_project .inner .text_box .project_cate {
  text-transform: uppercase;
  font-size: 50px;
}
@media screen and (max-width: 850px) {
  .projects_wrap .section_project .inner .text_box .project_cate {
    font-size: 6.5vw;
  }
}
.projects_wrap .section_project .inner .text_box .project_title {
  font-family: "Suisse", sans-serif;
  font-size: 112px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .projects_wrap .section_project .inner .text_box .project_title {
    font-size: 9vw;
  }
}
.projects_wrap .section_project .inner .text_box .tag_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.projects_wrap .section_project .inner .text_box .tag {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.568627451);
}
@media screen and (max-width: 850px) {
  .projects_wrap .section_project .inner .text_box .tag {
    font-size: 3.2vw;
  }
}
.projects_wrap .section_project .inner .text_box .links_area {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .projects_wrap .section_project .inner .text_box .links_area {
    gap: 10px;
  }
}
.projects_wrap .section_project .inner .text_box .links_area .project_link {
  font-size: 17px;
  text-transform: uppercase;
  border: 0.2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.3s background;
}
.projects_wrap .section_project .inner .text_box .links_area .project_link:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 850px) {
  .projects_wrap .section_project .inner .text_box .links_area .project_link {
    font-size: 3.2vw;
  }
}
.projects_wrap .section_project .video_box {
  width: 100%;
  height: 100%;
}
.projects_wrap .section_project .video_box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.projects_wrap .section_project .video_box img,
.projects_wrap .section_project .video_box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_log {
  height: 100%;
  padding: 120px 0 140px;
}
@media screen and (min-width: 1440px) {
  .section_log {
    padding: 8.3vw 0 9.7vw;
  }
}
.section_log .inner {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 6.5vw;
}
@media screen and (min-width: 1440px) {
  .section_log .inner {
    gap: 2.5vw;
  }
}
@media screen and (max-width: 991px) {
  .section_log .inner {
    gap: 16px;
  }
}
.section_log .headline {
  text-align: center;
  font-size: min(max(3.25rem, 11.4vw), 10.25rem);
  letter-spacing: -1.64px;
}
@media screen and (min-width: 1440px) {
  .section_log .headline {
    font-size: 11.39vw;
    line-height: 0.8;
    letter-spacing: -0.1139vw;
  }
}
.section_log .content {
  position: relative;
  padding: 0 5vw;
}
.section_log .pagination {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -5vw;
  top: auto;
  left: 50%;
  z-index: 1;
  width: 50%;
  transform: translateX(-50%);
  padding-top: 50px;
}
.section_log .pagination .swiper-pagination-bullet,
.section_log .pagination .swiper-pagination-bullet-active {
  width: 16.6666666667%;
  height: 7px;
  border-radius: 10px;
  background-color: #ff00e5;
  flex: 1;
}
.section_log .pagination .swiper-pagination-bullet {
  margin: 0;
  opacity: 0.3;
}
.section_log .pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.section_log .control_area {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_log .control_area {
    display: none;
  }
}
.section_log .control_area .btn_prev,
.section_log .control_area .btn_next {
  display: block;
  z-index: 2;
  width: 4vw;
  height: 4vw;
}
.section_log .control_area .btn_prev svg,
.section_log .control_area .btn_next svg {
  height: 100%;
  transition: fill 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: 50%;
}
.section_log .control_area .btn_prev svg:hover,
.section_log .control_area .btn_next svg:hover {
  fill: #ff00e5;
  background-color: #571157;
}
@media screen and (max-width: 991px) {
  .section_log .control_area .btn_prev svg,
  .section_log .control_area .btn_next svg {
    transition: none;
  }
  .section_log .control_area .btn_prev svg:hover,
  .section_log .control_area .btn_next svg:hover {
    fill: #fff;
    background-color: transparent;
  }
}
.section_log .control_area .btn_next {
  transform: rotate(-180deg);
}
.section_log .control_area .btn.swiper-button-disabled {
  visibility: hidden;
}
.section_log .swiper-slide-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #c9c3d1;
}
@media screen and (max-width: 991px) {
  .section_log .swiper-slide-active {
    background-color: #571157;
    color: #ff00e5;
  }
  .section_log .swiper-slide-active .log_more {
    color: #ff00e5;
  }
}
.section_log .swiper-slide-next::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #574d66;
}
.section_log .swiper-slide-next::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: #c9c3d1;
}
.section_log .log_list {
  width: auto;
  min-height: 464px;
}
@media screen and (min-width: 1440px) {
  .section_log .log_list {
    min-height: 32.22vw;
  }
}
@media screen and (max-width: 991px) {
  .section_log .log_list {
    min-height: 400px;
  }
}
@media screen and (max-width: 850px) {
  .section_log .log_list {
    min-height: 320px;
    padding: 0;
  }
}
.section_log .log_item {
  position: relative;
  display: flex;
  flex-basis: 50%;
  height: auto;
  background-image: linear-gradient(#571157, #571157);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: color 0.4s cubic-bezier(0.36, 0.3, 0, 1), background-size 0.6s cubic-bezier(0.36, 0.3, 0, 1);
  padding: 20px 16px;
}
@media screen and (min-width: 1440px) {
  .section_log .log_item {
    padding: 1.39vw 4vw 1.39vw 1.11vw;
  }
}
@media screen and (max-width: 991px) {
  .section_log .log_item {
    padding: 14px 16px;
  }
}
.section_log .log_item:hover, .section_log .log_item:focus {
  color: #ff00e5;
  background-position: 0% 100%;
  background-size: 100% 100%;
}
.section_log .log_item:hover .log_more, .section_log .log_item:focus .log_more {
  color: #ff00e5;
  background-size: 0% 0.06944vw;
  background-position: 100% 100%;
}
.section_log .log_link {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.11vw;
}
@media screen and (min-width: 1440px) {
  .section_log .log_link {
    gap: 16px;
  }
}
@media screen and (max-width: 991px) {
  .section_log .log_link {
    gap: 8px;
  }
}
.section_log .log_title {
  font-weight: 500;
  letter-spacing: -2.16px;
  line-height: 1;
  font-size: min(max(36px, 4vw), 72px);
}
@media screen and (min-width: 1440px) {
  .section_log .log_title {
    font-size: 4vw;
    letter-spacing: -0.15vw;
  }
}
@media screen and (max-width: 850px) {
  .section_log .log_title {
    font-size: min(max(25px, 4vw), 72px);
  }
}
.section_log .tag {
  padding: 2px 0;
  text-transform: uppercase;
  font-size: 1.3vw;
}
@media screen and (min-width: 1440px) {
  .section_log .tag {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .section_log .tag {
    padding: 4px 0;
    font-size: 16px;
  }
}
.section_log .tag,
.section_log .log_title {
  font-family: "SUITE", sans-serif;
}
.section_log .log_more {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  font-size: 3vw;
  line-height: 1;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  background-image: linear-gradient(#574d66, #574d66);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  color: #bfb9c7;
  background-size: 100% 0.06944vw;
  transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), background-size 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
@media screen and (min-width: 1440px) {
  .section_log .log_more {
    font-size: min(max(1.75rem, 3.1vw), 2.75rem);
  }
}
@media screen and (max-width: 991px) {
  .section_log .log_more {
    line-height: 1.143;
    letter-spacing: -0.56px;
  }
}

.section_goal {
  height: auto;
  background-color: #c9c3d1;
  color: #080014;
}
.section_goal .goal_wrap {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 120px;
  border-top: 2px solid #c9c3d1;
}
@media screen and (min-width: 1440px) {
  .section_goal .goal_wrap {
    gap: 2vw;
    padding-top: 8.3vw;
    border-top: 0.1389vw solid #c9c3d1;
    height: 500vh;
  }
}
@media screen and (max-width: 991px) {
  .section_goal .goal_wrap {
    flex-direction: column;
    height: 500vh;
    padding-top: 50px;
  }
}
.section_goal .headline_wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 50%;
  width: 100% !important;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .section_goal .headline_wrap {
    flex: none;
    flex-basis: auto;
    height: auto;
  }
}
.section_goal .headline_wrap .headline {
  width: 90%;
  font-size: min(max(1.75rem, 3.1vw), 2.75rem);
  letter-spacing: -1px;
  font-weight: 100;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .section_goal .headline_wrap .headline {
    font-size: 3vw;
    line-height: 1;
  }
}
@media screen and (max-width: 991px) {
  .section_goal .headline_wrap .headline {
    line-height: 0.909;
    letter-spacing: -0.46px;
  }
}
.section_goal .headline_wrap .mail_link {
  position: relative;
  background-color: #080014;
  padding: 18px 23px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 30px;
  transition: color 0.9s cubic-bezier(0.36, 0.3, 0, 1), background-color 0.9s cubic-bezier(0.36, 0.3, 0, 1);
}
@media screen and (min-width: 1440px) {
  .section_goal .headline_wrap .mail_link {
    font-size: 2vw;
  }
}
@media screen and (max-width: 480px) {
  .section_goal .headline_wrap .mail_link {
    font-size: 5vw;
  }
}
.section_goal .headline_wrap .mail_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #571157;
  transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.section_goal .headline_wrap .mail_link .button_text {
  position: relative;
  z-index: 1;
  color: #c9c3d1;
}
.section_goal .headline_wrap .mail_link:hover, .section_goal .headline_wrap .mail_link:focus {
  color: #ff00e5;
  background-color: #571157;
}
.section_goal .headline_wrap .mail_link:hover::before, .section_goal .headline_wrap .mail_link:focus::before {
  width: 100%;
}
.section_goal .headline_wrap .mail_link:hover .button_text, .section_goal .headline_wrap .mail_link:focus .button_text {
  color: #ff00e5;
}
.section_goal .goal_box {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 500vh;
}
.section_goal .goal_area {
  width: 100%;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: #c9c3d1;
  gap: 100px;
  font-family: "SUITE", sans-serif;
}
.section_goal .goal_area:last-of-type {
  height: auto;
}
@media screen and (max-width: 480px) {
  .section_goal .goal_area {
    gap: 30px;
  }
}
.section_goal .goal_title {
  width: 100%;
  font-size: min(max(44px, 7vw), 100px);
  letter-spacing: -1px;
}
@media screen and (min-width: 1440px) {
  .section_goal .goal_title {
    font-size: 5vw;
    line-height: 1;
  }
}
@media screen and (max-width: 991px) {
  .section_goal .goal_title {
    line-height: 0.9;
    letter-spacing: -0.46px;
  }
}
@media screen and (max-width: 850px) {
  .section_goal .goal_title {
    font-size: min(max(35px, 7vw), 100px);
  }
}
@media screen and (max-width: 480px) {
  .section_goal .goal_title {
    font-size: min(max(30px, 7vw), 100px);
  }
}
.section_goal .desc {
  font-size: 28px;
  line-height: 1.14;
  margin-top: 1.4vw;
  word-break: keep-all;
}
@media screen and (min-width: 1440px) {
  .section_goal .desc {
    font-size: 2vw;
    margin-top: 20px;
  }
}
@media screen and (max-width: 850px) {
  .section_goal .desc {
    margin-top: 16px;
  }
}
@media screen and (max-width: 480px) {
  .section_goal .desc {
    font-size: 6vw;
  }
}